In [35]:
Salaries = ['20k','40k','50k','60k','35k','89k','40k']

In [36]:
Salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

# Question 1

In [37]:
print(len(Salaries))

7

# Question 2

In [38]:
print(Salaries[2])

50k

# Question 3

In [39]:
print(Salaries[-1])

40k

# Question 4

In [40]:
print(Salaries[2:5])

['50k', '60k', '35k']

# Question 5

In [41]:
Salaries.append('100k')
print(Salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

# Question 6

In [42]:
Salaries = Salaries + ['120k']
print(Salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

# Question 7

In [43]:
Salaries[2] = '55k'
print(Salaries)

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

# Question 8

In [44]:
print(Salaries.count('40k'))

2

# Question 9

In [45]:
Salaries = Salaries[:1] + ['200k'] + Salaries[1:]
print(Salaries)

['20k', '200k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

# Question 10

In [51]:
print(Salaries)
Salaries.reverse()
print(Salaries)

['20k', '200k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']
['120k', '100k', '40k', '89k', '35k', '60k', '55k', '40k', '200k', '20k']

# Question 11

In [52]:
Salaries.reverse()
Salaries = Salaries[::-1]
print(Salaries)

['120k', '100k', '40k', '89k', '35k', '60k', '55k', '40k', '200k', '20k']